<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b56481">  <td>19/04/30 09:10:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAndAfterClass.configBC()[pri:0, instance:com.testng.test.BeforeAndAfterClass@6cc4c815]">&gt;&gt;configBC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/04/30 09:10:00</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAndAfterClass.configBM()[pri:0, instance:com.testng.test.BeforeAndAfterClass@6cc4c815]">&gt;&gt;configBM</td> 
<td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/04/30 09:10:00</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeforeAndAfterClass.createCustomer()[pri:0, instance:com.testng.test.BeforeAndAfterClass@6cc4c815]">createCustomer</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/04/30 09:10:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAndAfterClass.configAM()[pri:0, instance:com.testng.test.BeforeAndAfterClass@6cc4c815]">&lt;&lt;configAM</td> 
<td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/04/30 09:10:00</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAndAfterClass.configBM()[pri:0, instance:com.testng.test.BeforeAndAfterClass@6cc4c815]">&gt;&gt;configBM</td> 
<td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/04/30 09:10:00</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeforeAndAfterClass.modifyCustomer()[pri:0, instance:com.testng.test.BeforeAndAfterClass@6cc4c815]">modifyCustomer</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/04/30 09:10:00</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAndAfterClass.configAM()[pri:0, instance:com.testng.test.BeforeAndAfterClass@6cc4c815]">&lt;&lt;configAM</td> 
<td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="b56481">  <td>19/04/30 09:10:00</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAndAfterClass.configAC()[pri:0, instance:com.testng.test.BeforeAndAfterClass@6cc4c815]">&lt;&lt;configAC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
</table>
